@import "tailwindcss";

:root {
  --foreground: #EDEDED;
  --background: #171717;
  --title: #FFD15B;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --title: #FFD15B;
    --main: #EDEDED;
  }
} */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--foreground);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-anton {
  font-family: var(--font-anton), sans-serif;
  color: var(--background);
}

.font-manrope {
  font-family: var(--font-manrope), sans-serif;
}

main {
  background-color: var(--foreground);
}